들어 가기에 앞서 회귀가 무엇인지 살펴봅시다.
완벽한 데이터로 퀵하게 회귀가 무엇인지 알아 봅시다

boston1_LinearRegression

In [1]:
import numpy as np
import pandas as pd
# from sklearn import datasets
#
from sklearn import model_selection
from sklearn import metrics

In [68]:
# import pandas as pd

In [84]:
# pd.read_excel?

In [4]:
df = pd.read_excel('boston.xlsx', sheet_name=0)
df

,인당범죄율,거주지역_비율,indus,찰스강_경계,일산화질소,방_개수,노후화_정도,dis,rad,재산세율,학생교사_비율,흑인비율,하위계층비,주택가격
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
df.describe()

,인당범죄율,거주지역_비율,indus,찰스강_경계,일산화질소,방_개수,노후화_정도,dis,rad,재산세율,학생교사_비율,흑인비율,하위계층비,주택가격
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [10]:
# df.주택가격.value_counts()

In [11]:
df.iloc[:,-1].value_counts()

50.0    16
25.0     8
23.1     7
21.7     7
22.0     7
        ..
12.8     1
29.9     1
9.6      1
36.1     1
13.0     1
Name: target, Length: 229, dtype: int64

In [7]:
df.rename(columns={"주택가격" : "target"}, inplace=True) # 칼럼명 바꾸기

In [8]:
df.head()

,인당범죄율,거주지역_비율,indus,찰스강_경계,일산화질소,방_개수,노후화_정도,dis,rad,재산세율,학생교사_비율,흑인비율,하위계층비,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

pandas.core.series.Series

In [12]:
pd.set_option('display.max_rows', 1000)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   인당범죄율    506 non-null    float64
 1   거주지역_비율  506 non-null    float64
 2   indus    506 non-null    float64
 3   찰스강_경계   506 non-null    int64
 4   일산화질소    506 non-null    float64
 5   방_개수     506 non-null    float64
 6   노후화_정도   506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   재산세율     506 non-null    int64
 10  학생교사_비율  506 non-null    float64
 11  흑인비율     506 non-null    float64
 12  하위계층비    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

### null 없다

In [14]:
nc = df.isnull().sum().to_frame('my_count')
print('check null count: ', nc[nc.my_count > 0] )

check null count:  Empty DataFrame
Columns: [my_count]
Index: []

범주형
결측치

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [16]:
dataset = df.values

In [17]:
type(dataset)

numpy.ndarray

In [18]:
X = dataset[:,0:13]
y = dataset[:,13]

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [20]:
#print(x_data.shape) #(506, 13)
#print(y_data.shape) #(506,)

In [21]:
estimator = LinearRegression()
estimator.fit(X_train, y_train)

LinearRegression()

In [22]:
y_predict = estimator.predict(X_train) 
score = metrics.r2_score(y_train, y_predict)
print(score) #1.0

0.7475963392857294

In [23]:
y_predict = estimator.predict(X_test) 
score = metrics.r2_score(y_test, y_predict)
print(score) #1.0

0.7047297744479191

In [ ]:
기울기: line_fitter.coef_
절편: line_fitter.intercept_

In [24]:
estimator.coef_

array([-1.20348851e-01,  5.18427576e-02,  4.57585623e-02,  2.48392578e+00,
       -2.03337641e+01,  3.38547490e+00,  9.84422285e-03, -1.58014283e+00,
        4.12767247e-01, -1.60616153e-02, -1.04190821e+00,  7.07797774e-03,
       -5.98689301e-01])

In [25]:
estimator.intercept_

44.015008204746536