시나리오  
내 블로그 링크  
[행정직을 위한 머신러닝 활용](https://smartai1004.tistory.com/63?category=946283)

In [1]:
# Dataprep.eda : Accelerate your EDA (EDA 자동화 패키지)  
# https://eda-ai-lab.tistory.com/484

In [2]:
# ******* 아래 내용이 좋다
# https://datascienceschool.net/03%20machine%20learning/04.01%20%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D%20%EC%98%88%EC%A0%9C.html

In [3]:
# https://jaehyeongan.github.io/2019/07/08/Kaggle-challenge-%EB%B3%B4%EC%8A%A4%ED%84%B4-%EC%A7%91%EA%B0%92-%EC%98%88%EC%B8%A1-House-Prices-Advanced-Regression-Techniques/

https://www.kaggle.com/debanga/introduction-to-pycaret

In [4]:
# 단순 회귀 분석 예제 & 해석 : 네이버 블로그
# https://m.blog.naver.com/persiatj76/10079200456

pycaret df

## why? pycaret인가?
어떤 장점이 있는가?  
pycaret 것을 사용하지 않고 할때의 모습을 보여주어야 그 장점을 잘 인지할수 있을 것 같다  
얘가 뭐하는 물건인가? 앞으로 얘는 망할까?  
투자 대비 효과가 있을까?

In [5]:
import pycaret

In [6]:
dir(pycaret)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'utils']

In [7]:
pycaret.__version__

'2.3.5'

In [8]:
# from pycaret.regression import *

In [9]:
# book
# https://www.kaggle.com/debanga/introduction-to-pycaret
# pycaret df

In [10]:
from pycaret import regression as reg
# dir(reg)

In [11]:
from pycaret.regression import *

In [12]:
# Loading data from pycaret
#from pycaret.datasets import get_data
#df = get_data('df')

In [13]:
#df.to_excel('df.xlsx', index=False )

In [14]:
import pandas as pd

In [15]:
# pd.read_excel?

In [17]:
df = pd.read_excel('boston.xlsx', sheet_name=0)
df

,인당범죄율,거주지역_비율,indus,찰스강_경계,일산화질소,방_개수,노후화_정도,dis,rad,재산세율,학생교사_비율,흑인비율,하위계층비,주택가격
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [18]:
df.shape

(506, 14)

# 어떤 데이터로 해보려 하는가?
df
https://ai-times.tistory.com/431

"""
데이터명 : df Housing Price (보스턴 주택 가격 데이터)
레코드수 : 506 개
필드개수 :  14 개

데이터설명 : 보스턴 시의 주택 가격에 대한 데이터이다.
주택의 여러가진 요건들과 주택의 가격 정보가 포함되어 있다. 
주택의 가격에 영향을 미치는 요소를 분석하고자 하는 목적으로 사용될 수 있다. 
회귀분석 등의 분석에 활용될 수 있다.

보스턴 주택 데이터는 여러 개의 측정지표들 (예를 들어, 범죄율, 학생/교사 비율 등)을 포함한, 
보스턴 인근의 주택 가격의 중앙값(median value)이다. 이 데이터 집합은 14개의 변수를 포함하고 있다.

필드의 이해 :
데이터의 이해를 돕기 위해 포함된 14개의 변수에 대하여 간략하게 설명한다.  

출처: https://ai-times.tistory.com/431"""

[칼럼설명](https://datascienceschool.net/03%20machine%20learning/04.01%20%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D%20%EC%98%88%EC%A0%9C.html)

In [19]:
# [01]  CRIM 자치시(town) 별 1인당 범죄율 :1인당범죄율  
# [02]  ZN 25,000 평방피트를 초과하는 거주지역의 비율  
# [03]  INDUS 비소매상업지역이 점유하고 있는 토지의 비율  
# [04]  CHAS 찰스강에 대한 더미변수(강의 경계에 위치한 경우는 1, 아니면 0) : 찰스강_경계  
# [05]  NOX 10ppm 당 농축 일산화질소  :일산화질소
# [06]  RM 주택 1가구당 평균 방의 개수  : 방_수
# [07]  AGE 1940년 이전에 건축된 소유주택의 비율 : 노후화 정도  
# [08]  DIS 5개의 보스턴 직업센터까지의 접근성 지수  
# [09]  RAD 방사형 도로까지의 접근성 지수  
# [10]  TAX 10,000 달러 당 재산세율  
# [11]  PTRATIO 자치시(town)별 학생/교사 비율  
# [12]  black 1000(Bk-0.63)^2, 여기서 Bk는 자치시별 흑인의 비율을 말함.  :흑인비율
# [13]  LSTAT 모집단의 하위계층의 비율(%)  : 하위계층비율
# [14]  MEDV 본인 소유의 주택가격(중앙값) (단위: $1,000) : 주택가격

In [20]:
df.columns

Index(['인당범죄율', '거주지역_비율', 'indus', '찰스강_경계', '일산화질소', '방_개수', '노후화_정도', 'dis',
       'rad', '재산세율', '학생교사_비율', '흑인비율', '하위계층비', '주택가격'],
      dtype='object')

In [21]:
# tax 10,000 달러 당 재산세율  
df.재산세율.describe()

count    506.000000
mean     408.237154
std      168.537116
min      187.000000
25%      279.000000
50%      330.000000
75%      666.000000
max      711.000000
Name: 재산세율, dtype: float64

In [22]:
df.재산세율.value_counts()

666    132
307     40
403     30
437     15
304     14
264     12
398     12
384     11
277     11
224     10
330     10
432      9
233      9
276      9
296      8
193      8
287      8
391      8
300      7
284      7
270      7
188      7
311      7
222      7
329      6
254      5
289      5
711      5
223      5
273      5
216      5
243      4
247      4
281      4
305      4
279      4
293      3
430      3
345      3
358      3
245      3
370      2
335      2
411      2
265      2
348      2
334      2
252      2
337      2
315      2
242      2
402      2
352      2
187      1
351      1
280      1
255      1
422      1
469      1
226      1
241      1
285      1
198      1
256      1
244      1
313      1
Name: 재산세율, dtype: int64

In [23]:
df.찰스강_경계.value_counts()

0    471
1     35
Name: 찰스강_경계, dtype: int64

In [24]:
df.rad.value_counts()

24    132
5     115
4     110
3      38
6      26
2      24
8      24
1      20
7      17
Name: rad, dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   인당범죄율    506 non-null    float64
 1   거주지역_비율  506 non-null    float64
 2   indus    506 non-null    float64
 3   찰스강_경계   506 non-null    int64
 4   일산화질소    506 non-null    float64
 5   방_개수     506 non-null    float64
 6   노후화_정도   506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   재산세율     506 non-null    int64
 10  학생교사_비율  506 non-null    float64
 11  흑인비율     506 non-null    float64
 12  하위계층비    506 non-null    float64
 13  주택가격     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

type(df)
1      20
7      17
Name: rad, dtype: int64
type(df)
pandas.core.frame.DataFrame

In [26]:
df.columns

Index(['인당범죄율', '거주지역_비율', 'indus', '찰스강_경계', '일산화질소', '방_개수', '노후화_정도', 'dis',
       'rad', '재산세율', '학생교사_비율', '흑인비율', '하위계층비', '주택가격'],
      dtype='object')

In [27]:
#reg.setup?

[011_reg.setup.ipynb](011_reg.setup.ipynb)  
번역도 해두었다

In [28]:
reg1 = reg.setup(data = df, 
             numeric_features =  ['인당범죄율', '거주지역_비율', 'indus',  '일산화질소', '방_개수', 
                                  '노후화_정도', 'dis', 'rad', '재산세율', '학생교사_비율', '흑인비율', 
                                  '하위계층비'],  
             categorical_features = ['찰스강_경계'],
             target = '주택가격',
            )

In [29]:
# reg1?

## 위의 결과는 무엇을 의미하는가?

In [30]:
#솔직히 저도 자주 사용하지 않는 애들을 벤치마킹한다.

In [31]:
# comparing all models
compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=6503, verbose=0, warm_start=False)

아래와 같이 할때 내가 어떤 모델이 있는지 알수 있는가?
xgboost = create_model('xgboost')

[create-model](https://pycaret.org/create-model/)

In [32]:
# create_model?  
# doc string에 List of estimators in model library (ID - Name)

In [34]:
et = create_model('et') # ‘et’	Extra Trees Regressor

gbr = create_model('gbr')

In [35]:
lightgbm = create_model('lightgbm')

In [36]:
rf = create_model('rf')

## tuning Random Forest model

In [37]:
# tuned_rf = tune_model(estimator=rf)
tuned_rf = tune_model(estimator=rf, n_iter=10, optimize = 'MAE')

In [ ]:
# tune_model?